<ons-page>
        <ons-toolbar>
            <div class="center">
                {{title}}
            </div>
        </ons-toolbar>
        <div class="background"></div>
        <div class="content">
            <h3 id="subtitle">{{subtitle}}</h3>
            <div *ngFor="let content of dataObject.contents">
                <div class="intro">
                    <h4>{{content.info}}</h4>
                    <p>{{content.description}}</p>
                </div>
                <app-infoblock *ngFor="let subcontent of content.contents" [data]="subcontent"> </app-infoblock>
            </div>
        </div>
</ons-page>


